.content-carousel2 {
    /* max-width: 100vw; */
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    align-content: flex-end;
    flex-wrap: wrap;
    /* gap: 0.5rem; */
    margin: 0 auto;
    /* width: calc(var(--carousel-card-width)*3 + 4*var(--carousel-gap-width)); */

    overflow-y: hidden;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.content-carousel2 ul {
    position: absolute;
    left: 0px;
    height: auto;
    transform: translate(42.5%, 0%);
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
    max-width: 100%;
    transition: 0.5s linear;
    padding: 0;
}

.content-carousel2::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}

.slider-span-container {
    margin: 0 auto;
    display: flex;
    width: 50vw;
    justify-content: space-around;
    padding-bottom: 170px;
}

.slider-span {
    height: 5px;
    width: 100px;
    background-color: rgb(208, 204, 204);
    border-radius: 5px;
}

.slider-span-active {
    transition: 0.5s linear;
    background-color: rgb(192, 0, 0);

}

@media screen and (max-width: 840px) {
    .content-carousel2 {
        max-width: 100%;
        /* width: calc(var(--carousel-card-width)*2 + 1*var(--carousel-gap-width)); */
        overflow: hidden;
        /* transform: translate(-50%, 0); */
    }
}

