#root {
  max-width: 1350px;
  margin: 0 auto;
  text-align: center;
}

.container {
  margin: 0 auto;
  padding: 2rem;
  padding-top: 0;
  display: flex;
  justify-content: space-between;
  width: 90%;
  gap: 10px;
}

.column {
  width: 50%;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  text-align: left;
}

.column::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.column-static {
  position: sticky;
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  padding-bottom: 2em;
  height: 85vh;
  top: 6em;
}

.colum-static-introduction {
  width: 90%;
}

.colum-static-introduction h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
}

.colum-static-introduction h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 300;
}

.column-static-top,
.column-static-bottom {
  width: 100%;
}

.column-static-bottom {
  display: flex;
  align-items: flex-end;
}

.column-dynamic {
  width: 55%;
  overflow: auto;
}

.content-about {
  width: calc(100% - 6em);
  margin: 0 auto;
  padding-top: 6em;
}

.content-about h4 {
  margin-bottom: 0;
}

.content-about span {
  color: white;
  font-weight: 500;
}

.content-experience,
.content-projects {
  padding-top: 5em;
}

.column-dynamic-content-footer {
  width: 85%;
  margin: 0 auto;
}

.full-resume {
  width: calc(100% - 6em);
  margin: auto;
  padding-top: 1em;
}

a:visited {
  color: white;
}

a {
  text-decoration: none;
}

p {
  font-size: 0.9rem;
  color: #8497b4;
}

@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
  }

  .column {
    width: 100%;
  }

  .column-static {
    position: relative;
    width: 100%;
    align-content: flex-start;
    height: 100%;
  }

  .colum-static-introduction p {
    max-width: 20rem;
  }

  .content-about {
    position: relative;
    width: 100%;
    padding-top: 8em;
  }

  .content-about::before {
    position: absolute;
    left: 50%;
    top: 6em;
    transform: translate(-50%, 0);
    content: "ABOUT";
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }

  .content-experience {
    position: relative;
  }

  .content-experience::before {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    content: "EXPERIENCE";
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    top: 3em;
  }

  .content-projects {
    position: relative;
    padding-top: 7em;
  }

  .content-projects::before {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    content: "PROJECTS";
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    top: 4.5em;
  }

  .column-dynamic-content-footer {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .full-resume {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .column-static-top,
  .column-static-bottom {
    display: flex;
    justify-content: center;
  }

  .colum-static-introduction {
    width: 100%;
  }
}
